@font-face {
  font-family: 'Onepiece';
  src: url('./fonts/Onepiece.ttf') format('truetype');
}

.titolo{
  font-family: 'Onepiece', sans-serif;
  font-size: 7rem;
  z-index: 2;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 1rem;
  height: 100vh;
}

#world {
  position: absolute;
  z-index: 0;
}

.thousand-sunny {
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.onda{
  display: none;
  position:absolute;
}

#myButton {
  z-index: 3;
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 4em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 400px; 
  height: 400px; 
  line-height: 80px;
  font-family: 'Onepiece', sans-serif;
  letter-spacing: 10px;
}

#timone{
  z-index: 2;
}

