/* @font-face {
  font-family: 'Onepiece';
  src: url('./fonts/Onepiece.ttf') format('truetype');
}

.titolo{
  font-family: 'Onepiece', sans-serif;
  font-size: 7rem;
  z-index: 2;
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
} */

#world {
  position: absolute;
  z-index: 0;
  max-width: 100%;
  max-height: 100%;
}
/* 
#mySunny{
  z-index: 2;
  position: absolute;
  bottom:10%;
  display: none;
  max-height: 80vh;
}

.onda{
  display: none;
  z-index: 10;
  position: fixed;
  bottom: 0px;
  left:50%;
  max-height: 40vh;
  min-width: 100vw;
}

#myButton {
  z-index: 3;
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 4em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 400px; 
  height: 400px; 
  line-height: 80px;
  font-family: 'Onepiece', sans-serif;
  letter-spacing: 10px;
}

#timone{
  z-index: 2;
  overflow-y: hidden;
} */


 .mati-container{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  height: 100vh;
  flex-direction: column;
  padding: 0 2rem ; 
 }

 .mati-titolo{
  text-align: center;
  z-index: 3;
  font-size: 10rem;
 }

 .mati-immagine{
  max-width: 100%;
  height: auto;
  z-index: 3;
 }

 #button-62 {
  background: linear-gradient(to bottom right, rgba(49, 118, 236, 0.5), rgba(54, 219, 227, 0.5));
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 4rem;
  color: black;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  z-index: 5;
  width: 100%;
}

#button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 231, 239, 0.5), .125rem .125rem 1rem rgba(0, 21, 255, 0.5);
}

#button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 133, 239, 0.5), .125rem .125rem 1rem rgba(8, 1, 63, 0.5);
}

