@font-face {
  font-family: 'Onepiece';
  src: url('./fonts/Onepiece.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}



.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  ;
}

#world {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.thousand-sunny {
  z-index: 2;
  top: 0;
  left: 0;
  display: none;
}

.onda{
  display: none;
}

#myButton {
  z-index: 3;
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 3em; /* Aumenta la dimensione del testo */
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 300px; /* Aumenta la larghezza */
  height: 300px; /* Aumenta l'altezza */
  line-height: 50px;
  font-family: 'Onepiece', sans-serif;
}

