.container {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  background-color: rgb(236, 201, 180);
}

.container-title{
  max-width: 80%;
  text-align: left;
}

h1 {
  font-family: cursive;
  line-height: 2rem;
  letter-spacing: 2px;
  font-weight: bolder;
}

.container-saggio{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
}

.saggio-cinese{
  max-width: 100%;
  width: 80%;
  height: auto;
}

.saggio-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
}

strong{
  background: linear-gradient(to right, #000000, #ff0000);
  -webkit-background-clip: text; 
  color: transparent;
  background-clip: text;
  display: inline-block;
}

.cavaliere-container{
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.cavaliere{
  max-width: 100%;
  max-height: auto;
}

.leggenda{
  font-size: 2rem;
  text-align: center;
  animation: fuocoEffect 1s infinite alternate;
}

@keyframes fuocoEffect {
    0% {
        color: #ff0000;
        text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff0000;
    }
    100% {
        color: #ff6600;
        text-shadow: 0 0 10px #ff6600, 0 0 20px #ff6600, 0 0 30px #ff6600;
    }
}



#audioPlayer {
  display: none;
  margin-top: 1rem;
}

.button-wrapper{
  display: flex;
  background-color: rgb(255, 255, 255);
  gap: 2rem;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem;
  background-image: url('./images/mappatesoro.jpeg');
  background-size: cover; 
  background-repeat: repeat; 
  background-position: center;
  overflow: hidden;
}

.even{
  align-self: flex-start;
}

.odd{
  align-self: flex-end;
}

.button-55 {
  /* align-self: center; */
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

