/* 本体には関係ないスタイル */
.container {
  padding: 2rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  text-align: center;
  background-color: #fffad8;
}

.container-title{
  max-width: 80%;
  text-align: left;
}

h1 {
  font-family: cursive;
  line-height: 2rem;
  letter-spacing: 2px;
}

.container-saggio{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-between;
}

.saggio-cinese{
  max-width: 100%;
  width: 80%;
  height: auto;
}

.saggio-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
  /* white-space: nowrap;   */
  /* text-align: center; */
}

strong{
  background: linear-gradient(to right, #000000, #ff0000);
  -webkit-background-clip: text; 
  color: transparent;
  background-clip: text;
  display: inline-block;
}

#audioPlayer {
  display: none;
  margin-top: 1rem;
}



/* STILE PER I BOTTONI */
.myButton {
  box-shadow: 0px 1px 50px 14px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 1rem;
  font-weight: bold;
  padding: 19px 76px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  flex: 1;
}

.myButton:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.myButton:active {
  position: relative;
  top: 1px;
}