.container-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

#audioPlayer{
    display: none;
    margin-top: 1rem;
}



/* STILE PER I BOTTONI */
.myButton {
	box-shadow: 0px 1px 50px 14px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:19px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
      
  
  
  
  
  /* 本体には関係ないスタイル */
  .container{
      width : 100% ;
      height : 300px ;
      display : flex ;
      flex-direction : column ;
      justify-content : center ;
      align-items : center ;
  }
  .button:not(:last-child){
    margin-bottom : 64px ;
  }


  /* BOTTONE PER MUSICA */
  #button-62 {
    background: linear-gradient(to bottom right, rgba(49, 118, 236, 0.5), rgba(54, 219, 227, 0.5));
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin-top: 1rem;
  }
  
  #button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 231, 239, 0.5), .125rem .125rem 1rem rgba(0, 21, 255, 0.5);
  }
  
  #button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(71, 133, 239, 0.5), .125rem .125rem 1rem rgba(8, 1, 63, 0.5);
  }