.image-container {
    width: 300px; /* Larghezza desiderata */
    height: 300px; /* Altezza desiderata */
    overflow: hidden; /* Nasconde eventuali bordi sconfinati */
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
}
