.titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  }

  .titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  }

  .titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  }

  .titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  }
  
  .titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  }
  
  .titolo1{
    background: linear-gradient(to right, #000000, #ff0000);
    -webkit-background-clip: text; 
    color: transparent;
    background-clip: text;
    display: inline-block;
  } 

